

@media (max-width: 768px) {
  .me-auto {
    display: contents;
    flex-direction: row;
  }
   
} 
 .Header {
  background-color: #3e4451;
  font-family: "Consolas", 'Courier New', monospace;
  color: #ebf5f5;
  font-size: 20px;
  
}